<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".UdhaardaarApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:label="ArthSaathi"
        android:icon="@drawable/arthsaathi_logo"
        android:roundIcon="@drawable/arthsaathi_logo"
        android:supportsRtl="true"
        android:alwaysRetainTaskState="true"
        android:theme="@style/Theme.ArthSaathi">

        <activity android:name=".LoginActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ArthSaathi V7 visual foundation -->
        <activity android:name=".V7HomeActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V7ModuleActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />

        <!-- Existing functional engines retained behind the V7 interface -->
        <activity android:name=".V62HomeActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62ExtendedModulesActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62CreditIntelligenceActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62ChargeCheckActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62CreditRegistrationActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62RepaymentActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62AssetVaultActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62InsuranceActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62RentalLeaseActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62TTMMActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62QRKhataActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62MISActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".V62LegacyLegalAIActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".QrCreditScannerActivity" android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".ArthSaathiHomeActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ArthSaathiModulesActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />

        <receiver android:name=".ReminderReceiver" android:exported="false" />
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
