<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:name=".UdhaardaarApp" android:allowBackup="true" android:label="Udhaardaar" android:supportsRtl="true" android:theme="@style/Theme.Udhaardaar">
        <activity android:name=".V323Activity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".V32Activity" android:exported="false" />
        <activity android:name=".AdvancedLauncherActivity" android:exported="false" />
        <activity android:name=".DashboardV3Activity" android:exported="false" />
        <activity android:name=".VerificationDocumentsActivity" android:exported="false" />
        <activity android:name=".RegisterCreditV3Activity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".AddUdhaarActivity" android:exported="false" />
        <activity android:name=".RecordsActivity" android:exported="false" />
        <receiver android:name=".ReminderReceiver" android:exported="false" />
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
